<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>table</title>
</head>
<body>
    <body>
        <h1 align="center">TIME TABLE</h1>
        <table border="5px" align="center" cellspacing="0px" cellpadding="2px">
            <!--<caption>Time table</caption>-->
            <tr>
                <td align="center" height="50px" width="100px"><b>Day/Period</b></td>
                <td align="center" height="50px" width="100px"><b>I<br>9:30-10:20</b></td>
                <td align="center" height="50px" width="100px"><b>II<br>10:20-11:10</b></td>
                <td align="center" height="50px" width="100px"><b>III<br>11:10-12:00</b></td>
                <td align="center" height="50px" width="100px"><b>12:00-12:40</b></td>
                <td align="center" height="50px" width="100px"><b>IV<br>12:40-1:30</b></td>
                <td align="center" height="50px" width="100px"><b>V<br>1:30-2:20</b></td>
                <td align="center" height="50px" width="100px"><b>VI<br>2:20-3:10</b></td>
                <td align="center" height="50px" width="100px"><b>VII<br>3:10-4:00</b></td>
            </tr>
            <tr>
                <td align="center" height="50px"><b>Monday</b></td>
                <td align="center" height="50px">Eng</td>
                <td align="center" height="50px">Mat</td>
                <td align="center" height="50px">Che</td>
                <td rowspan="6" align="center" height="50px"><b>L<br>U<br>N<br>C<br>H<br></b></td>
                <td colspan="3" align="center" height="50px">LAB</td>
                <td align="center" height="50px">Phy</td>
            </tr>
            <tr>
                <td align="center" height="50px"><b>Tuesday</b></td>
                <td colspan="3" align="center" height="50px">LAB</td>
                <td align="center" height="50px">Eng</td>
                <td align="center" height="50px">Che</td>
                <td align="center" height="50px">Mat</td>
                <td align="center" height="50px">SPORTS</td>
            </tr>
            <tr>
                <td align="center" height="50px"><b>Wednesday</b></td>
                <td align="center" height="50px">Mat</td>
                <td align="center" height="50px">Phy</td>
                <td align="center" height="50px">Eng</td>
                <td align="center" height="50px">Che</td>
                <td colspan="3" align="center" height="50px">LIBRARY</td>
            </tr>
            <tr>
                <td align="center" height="50px"><b>Thursday</b></td>
                <td align="center" height="50px">Phy</td>
                <td align="center" height="50px">Eng</td>
                <td align="center" height="50px">Che</td>
                <td colspan="3" align="center" height="50px">LAB</td>
                <td align="center" height="50px">Mat</td>
            </tr>
            <tr>
                <td align="center" height="50px"><b>Friday</b></td>
                <td colspan="3" align="center" height="50px">LAB</td>
                <td align="center" height="50px">Mat</td>
                <td align="center" height="50px">Che</td>
                <td align="center" height="50px">Eng</td>
                <td align="center" height="50px">Phy</td>
            </tr>
            <tr>
                <td align="center" height="50px"><b>Saturday</b></td>
                <td align="center" height="50px">Eng</td>
                <td align="center" height="50px">Che</td>
                <td align="center" height="50px">Mat</td>
                <td colspan="3" align="center" height="50px">SEMINAR</td>
                <td align="center" height="50px">SPORTS</td>
            </tr>
        </table>
</body>
</html>